<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./fragments/default :: head(${board}+'Update')">
<meta charset="UTF-8">
<title> </title>
</head>
<body>
	<div th:replace="./fragments/default :: header"></div>
	<div th:replace="./fragments/default :: jumbo"></div>

	<div class="container">
		<div th:replace="/fragments/boardForm :: form (${action})">
			<!-- boardForm의 fragment 가져올 곳 -->
		</div>
	</div>

	<footer th:replace="./fragments/default :: footer"></footer>
</body>
</html>