<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.hm.j1.member.MemberMapper">

	<insert id="memberJoin" parameterType="MemberVO">
		insert into member values (#{userName}, #{password}, #{name}, #{email}, #{phone})
	</insert>
	
	<insert id="memberJoinFile" parameterType="MemberFileVO">
		insert into memberFiles (userName, fileName, oriName) values(#{userName}, #{fileName}, #{oriName})
	</insert>
	
	<select id="memberLogin" resultType="MemberVO" parameterType="MemberVO">
		select * from member where userName=#{userName} and password=#{password}
	</select>
	
	<select id="getUsertName" parameterType="MemberVO" resultType="MemberVO">
		select * from member where userName=#{userName}
	</select>
	
</mapper>