<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hm.j1.board.notice.NoticeMapper">

	<select id="getList" resultType="NoticeVO" parameterType="Pager">
		select * from notice order by num desc
		limit #{startRow}, #{perPage}
		<!-- limit 시작인덱스번호(0부터 시작) , 개수-->
	</select>
	
	<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long">
		select count(num) from notice
	</select>
	
	<select id="getSelect" parameterType="BoardVO" resultType="NoticeVO">
		select * from notice where num=#{num}
	</select>
	
	<insert id="setInsert" parameterType="BoardVO">
		insert into notice values (#{num},#{title},#{writer},#{contents},now(),0)
	</insert>
</mapper>